<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bookcell" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".homepage"
            android:label="@string/title_activity_homepage" >
        </activity>

        <activity
            android:name=".scan"
            android:label="@string/title_activity_scan"
            android:parentActivityName=".homepage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookcell.homepage" />
        </activity>

        <activity
            android:name=".search"
            android:label="@string/title_activity_search"
            android:parentActivityName=".homepage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookcell.homepage" />
        </activity>
    </application>

</manifest>
